<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MavenAutomationProject"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="pageobjects.ProcessPL.ProcessViewApp"/>
<listEntry value="pageobjects.Organisation"/>
<listEntry value="testscripts.CS_HPVScripts"/>
<listEntry value="pageobjects.ProcessPL.NetTeamCheck"/>
<listEntry value="pageobjects.GenerateRecalls"/>
<listEntry value="pageobjects.GPP.CI.GPPPCSEPracticeCohort"/>
<listEntry value="pageobjects.ME.PaymentDetails"/>
<listEntry value="pageobjects.ProcessPL.ProcessIndex"/>
<listEntry value="pageobjects.PerformerPL.ChangeDetails"/>
<listEntry value="testscripts.GPP_PMS_APMSScripts"/>
<listEntry value="testscripts.PMS_GOS1_E2EScripts"/>
<listEntry value="pageobjects.GPP.Pensions.Solo.SoloWorkHomePage"/>
<listEntry value="pageobjects.OP.OPPatientDetails"/>
<listEntry value="pageobjects.AdminJobs"/>
<listEntry value="pageobjects.GPP.SC.SC_RetainerSessionClaim"/>
<listEntry value="pageobjects.Levies.LocalCommitteeSearch"/>
<listEntry value="pageobjects.OP.OPGOS5ContractorDeclaration"/>
<listEntry value="pageobjects.PerformerPL.HourRetirement"/>
<listEntry value="pageobjects.GPP.QOF.QOFPaymentScreen"/>
<listEntry value="helpers.ReadDelimiterFile"/>
<listEntry value="testscripts.OP_GOS6ClaimScripts"/>
<listEntry value="logger.LoggerUtil"/>
<listEntry value="pageobjects.AdvancedFindResult"/>
<listEntry value="testscripts.ME_CreatApp_PartnershipScripts"/>
<listEntry value="pageobjects.OP.MyNotification"/>
<listEntry value="pageobjects.EmailDescription"/>
<listEntry value="pageobjects.OP.OPGOS4PatientDetails"/>
<listEntry value="helpers.RetryMechanism"/>
<listEntry value="helpers.DatabaseHelper"/>
<listEntry value="pageobjects.ME.EnhancedServices"/>
<listEntry value="pageobjects.OrgPaymentdetails"/>
<listEntry value="pageobjects.PL.NewApp_EmpHistory"/>
<listEntry value="pageobjects.GPP.CI.GPPHomePageNew"/>
<listEntry value="pageobjects.PL.NewAppPersonalDetail"/>
<listEntry value="testscripts.OP_GOS3VoucherScripts"/>
<listEntry value="pageobjects.OP.OPSearchForClaim"/>
<listEntry value="pageobjects.GPP.Pensions.PracticeJoiner.JoinerApprovalForm"/>
<listEntry value="testscripts.ME_CreatApp_BodyCorporateScripts"/>
<listEntry value="pageobjects.ME.ApplicationType"/>
<listEntry value="helpers.UITableDataSupport"/>
<listEntry value="pageobjects.GPP.Pensions.BreakInService.BreakInServiceEntryForm"/>
<listEntry value="testscripts.PL_CreateApp_DentalScripts"/>
<listEntry value="pageobjects.AdvancedFilter"/>
<listEntry value="pageobjects.OP.OP_StatementDetails"/>
<listEntry value="pageobjects.PL.TrainingDetails"/>
<listEntry value="testscripts.XML_BS_StagingCRMScripts"/>
<listEntry value="pageobjects.PL.EnterAddressManually"/>
<listEntry value="pageobjects.PerformerPL.EmpDetails"/>
<listEntry value="testscripts.GPP_QOFScripts"/>
<listEntry value="reporting.ChangeExecutionStatus"/>
<listEntry value="pageobjects.PL.InsuranceDetails"/>
<listEntry value="helpers.Support"/>
<listEntry value="pageobjects.GPP.GPPaymentHomePage"/>
<listEntry value="pageobjects.LoginScreen"/>
<listEntry value="pageobjects.ME.Referees"/>
<listEntry value="reporting.CustomTestNGReport"/>
<listEntry value="pageobjects.Adjustments.AdjustmentHomePage"/>
<listEntry value="testscripts.GPP_PensionsScripts"/>
<listEntry value="pageobjects.ProcessPL.NHSCViewApp"/>
<listEntry value="pageobjects.PL.Qualification"/>
<listEntry value="testscripts.PL_CreateApp_OpthalmicScripts"/>
<listEntry value="utilities.WriteCSV"/>
<listEntry value="pageobjects.LoginPageCS"/>
<listEntry value="pageobjects.SelectOrganisation"/>
<listEntry value="pageobjects.LoginPage"/>
<listEntry value="testscripts.GPP_PMSAPMSScripts"/>
<listEntry value="pageobjects.CS.UploadedColposcopyRecords"/>
<listEntry value="pageobjects.TraineeOptometristResults"/>
<listEntry value="pageobjects.GPP.GPPScreen"/>
<listEntry value="testscripts.OP_STATEMENTScripts"/>
<listEntry value="testscripts.GPP_AVCScripts"/>
<listEntry value="pageobjects.PL.PerformerHome"/>
<listEntry value="pageobjects.ME.FinalDeclaration"/>
<listEntry value="pageobjects.GPP.Pensions.AVC.MPAVCInstructionForm"/>
<listEntry value="pageobjects.OP.OPGOS6ContractorDeclaration"/>
<listEntry value="testscripts.OP_PRTClaimScripts"/>
<listEntry value="browsersetup.Setup"/>
<listEntry value="pageobjects.GMP.PaymentInstructionFile"/>
<listEntry value="pageobjects.GPP.SC.StdClaimsApprovalWindow"/>
<listEntry value="pageobjects.PerformerPL.HomeTab"/>
<listEntry value="pageobjects.ScreeningInfo"/>
<listEntry value="testscripts.XML_StagingCRMScripts"/>
<listEntry value="pageobjects.OP.OPGOS6PatientDetails"/>
<listEntry value="pageobjects.GPP.Pensions.PracticeLeaver.GPLeaverApplicationForm"/>
<listEntry value="pageobjects.OP.OPSupervisorsDeclaration"/>
<listEntry value="pageobjects.PatientDetails"/>
<listEntry value="pageobjects.PL.HealthClearance"/>
<listEntry value="pageobjects.CS.NewRegistration"/>
<listEntry value="reporting.ReportBaseClass"/>
<listEntry value="pageobjects.OP.OPGOS4PatientDeclaration2"/>
<listEntry value="testscripts.PMS_GOS6_E2EScripts"/>
<listEntry value="pageobjects.OP.OPGOS3PatientEligibility"/>
<listEntry value="pageobjects.PL.Capacity"/>
<listEntry value="pageobjects.OP.OPGOS6PerformerDeclaration"/>
<listEntry value="pageobjects.Levies.LevyChargeSearch"/>
<listEntry value="pageobjects.OP.OPGOS4NHSEnglandApproval"/>
<listEntry value="pageobjects.OP.OPGOS5PerformerDeclaration"/>
<listEntry value="testscripts.CS_RegistrationScripts"/>
<listEntry value="utilities.JavaScriptExecutor"/>
<listEntry value="pageobjects.PL.PerformerList"/>
<listEntry value="pageobjects.GPP.PMSAPMS.BaselineEntryScreen"/>
<listEntry value="pageobjects.OP.OPGOS3PatientDetails"/>
<listEntry value="testscripts.OP_GOS3ClaimScripts"/>
<listEntry value="pageobjects.OP.OPCreateGOS6PVN"/>
<listEntry value="pageobjects.PL.Referees"/>
<listEntry value="pageobjects.CS.PNLSearchResultPage"/>
<listEntry value="pageobjects.OP.OPCETPerformerSignatory"/>
<listEntry value="pageobjects.OP.OPStatement"/>
<listEntry value="testscripts.BS_GOS3_E2EScripts"/>
<listEntry value="pageobjects.CS.HPV_Vaccination"/>
<listEntry value="pageobjects.GPP.SC.LocumPreApprovalClaim"/>
<listEntry value="verify.TestMethodErrorBuffer"/>
<listEntry value="pageobjects.GMP.GMPhelpers"/>
<listEntry value="pageobjects.GMP.VarianceReportDetail"/>
<listEntry value="testscripts.OP_AdjustmentScripts"/>
<listEntry value="pageobjects.ME.PremiseDetails"/>
<listEntry value="pageobjects.PerformerPL.PerformerType"/>
<listEntry value="pageobjects.Adjustments.AdjustmentDetails"/>
<listEntry value="testscripts.CS_ResultsScripts"/>
<listEntry value="pageobjects.PL.TeamPreference"/>
<listEntry value="testscripts.OP_GOS5ClaimScripts"/>
<listEntry value="pageobjects.Screening"/>
<listEntry value="pageobjects.GPP.Pensions.AVC.AVCHomePage"/>
<listEntry value="pageobjects.OP.OPSearchClaim"/>
<listEntry value="testscripts.CS_CallRecallScripts"/>
<listEntry value="pageobjects.Levies.CreateLocalCommittee"/>
<listEntry value="pageobjects.OP.OPGOS5PatientDetails"/>
<listEntry value="testscripts.PL_ProcessApp_MedicalScripts"/>
<listEntry value="pageobjects.OP.OPPatientEligibility"/>
<listEntry value="pageobjects.ME.OrganizationDetailsSoleTraderPharma"/>
<listEntry value="pageobjects.OP.OPGOS6PVNView"/>
<listEntry value="pageobjects.Contacts"/>
<listEntry value="pageobjects.CS.PNLPage"/>
<listEntry value="pageobjects.GPP.Pensions.Solo.SoloIncomeEntry"/>
<listEntry value="testscripts.PL_PerformerAppScripts"/>
<listEntry value="pageobjects.PL.ProcessorPLHelpers"/>
<listEntry value="pageobjects.OP.OPGOS5PatientDeclaration"/>
<listEntry value="pageobjects.OP.OPHomePage"/>
<listEntry value="testscripts.CreateUserScripts"/>
<listEntry value="pageobjects.CallRecallRecord"/>
<listEntry value="pageobjects.GPP.CI.MyNotification"/>
<listEntry value="pageobjects.ContactPatient"/>
<listEntry value="pageobjects.ProcessPL.NHSCHome"/>
<listEntry value="pageobjects.GPP.SC.SC_RegistrarExpenseClaim"/>
<listEntry value="testscripts.ME_CreatAppSoleTraderScripts"/>
<listEntry value="pageobjects.PL.Undertaking"/>
<listEntry value="pageobjects.GPP.Pensions.AVC.ERRBOApplication"/>
<listEntry value="pageobjects.GoogleAdvanceSearch"/>
<listEntry value="helpers.PostXML"/>
<listEntry value="pageobjects.GPP.Pensions.PracticeJoiner.GPJoinerRetainerEntry"/>
<listEntry value="pageobjects.OP.OPTraineeDetails"/>
<listEntry value="pageobjects.PL.CreateNewApp"/>
<listEntry value="pageobjects.ME.ApplicantPharmacistContractorDetails"/>
<listEntry value="helpers.Screenshot"/>
<listEntry value="pageobjects.OP.OPGOS3Prescription"/>
<listEntry value="helpers.DateParser"/>
<listEntry value="testscripts.BS_GOS4_E2EScripts"/>
<listEntry value="testscripts.PL_ProcessApp_OpthalmicScripts"/>
<listEntry value="pageobjects.GMP.VarianceReports"/>
<listEntry value="ExtentReports.ExtentManager"/>
<listEntry value="pageobjects.OP.OPGOS3PatientDeclaration"/>
<listEntry value="reporting.DumpReportToDB"/>
<listEntry value="pageobjects.PL.PLHomepage"/>
<listEntry value="testscripts.OP_GOS1ClaimScripts"/>
<listEntry value="pageobjects.ME.ServiceConfirmations"/>
<listEntry value="pageobjects.OP.OPGOS6Options"/>
<listEntry value="testscripts.CS_ColposcopyScripts"/>
<listEntry value="pageobjects.GPP.PMSAPMS.GPPScreen"/>
<listEntry value="pageobjects.OP.OPPatientDeclaration"/>
<listEntry value="testscripts.BS_GOS1_E2EScripts"/>
<listEntry value="pageobjects.OP.OPGOS5PatientEligibility"/>
<listEntry value="pageobjects.Activities"/>
<listEntry value="pageobjects.CS.PatientpersonaldetailPortal"/>
<listEntry value="testscripts.GPP_SoloScripts"/>
<listEntry value="pageobjects.ME.MarketEntryApplication"/>
<listEntry value="pageobjects.PL.PoliceCheck"/>
<listEntry value="pageobjects.CrmHome"/>
<listEntry value="testscripts.GPP_SalaryChangeScripts"/>
<listEntry value="pageobjects.ProcessPL.CaseofficerReview"/>
<listEntry value="pageobjects.GoogleSearch"/>
<listEntry value="pageobjects.PL.SubmitApplication"/>
<listEntry value="pageobjects.OP.OPCETContractorSignatory"/>
<listEntry value="pageobjects.CS.NotificationLists"/>
<listEntry value="pageobjects.GPP.ClaimsHomePage"/>
<listEntry value="utilities.CopyFileToNetworkLocation"/>
<listEntry value="pageobjects.PL.CommunicationSkills"/>
<listEntry value="pageobjects.OP.OPGOS6PatientEligibility"/>
<listEntry value="pageobjects.PL.Trainee"/>
<listEntry value="utilities.PostXML"/>
<listEntry value="pageobjects.GPP.Pensions.PracticeJoiner.GPPensionsHomePage"/>
<listEntry value="testscripts.CS_DeferScripts"/>
<listEntry value="helpers.MEHelpers"/>
<listEntry value="pageobjects.PerformerPL.PersonalDetails_performer"/>
<listEntry value="helpers.ReadDataFromFolder"/>
<listEntry value="pageobjects.ME.CreatePharmacy"/>
<listEntry value="utilities.ReadCSV"/>
<listEntry value="testscripts.GPP_AdjustmentScripts"/>
<listEntry value="queuingmechanism.PollNBuildTestNGXML"/>
<listEntry value="pageobjects.CS.ColposcopyDischargeReport"/>
<listEntry value="pageobjects.CohortSelectionRules"/>
<listEntry value="pageobjects.ME.AddressManually"/>
<listEntry value="pageobjects.GPP.Pensions.AVC.ERRBOApprovalForm"/>
<listEntry value="pageobjects.Registration"/>
<listEntry value="pageobjects.GPP.Pensions.AVC.AVCApprovalForm"/>
<listEntry value="testscripts.CS_CeasingScripts"/>
<listEntry value="verify.Verify"/>
<listEntry value="ExtentReports.ExtentTestManager"/>
<listEntry value="pageobjects.PerformerPL.ActivitiesQueues"/>
<listEntry value="pageobjects.ME.OrganizationDetailsApplicant"/>
<listEntry value="pageobjects.GMP.GMPHome"/>
<listEntry value="pageobjects.GPP.SC.StdClaimsPreApprovalPortal"/>
<listEntry value="pageobjects.OP.OPGOS3SupplierDeclaration"/>
<listEntry value="testscripts.PL_CreateApp_MedicalScripts"/>
<listEntry value="pageobjects.XMLParseHelpers.BSXMLhelpers"/>
<listEntry value="pageobjects.GPP.BaselineEntryScreen"/>
<listEntry value="testscripts.PMS_GOS3_E2EScripts"/>
<listEntry value="pageobjects.TraineeOptometrist"/>
<listEntry value="pageobjects.ProcessPL.Uploaddocument"/>
<listEntry value="testscripts.GPP_StandardClaimScripts"/>
<listEntry value="pageobjects.GPP.Pensions.PracticeLeaver.GPPracticeLeaver"/>
<listEntry value="testscripts.PMS_GOS5_E2EScripts"/>
<listEntry value="pageobjects.PL.Employment"/>
<listEntry value="helpers.CommonFunctions"/>
<listEntry value="pageobjects.LabInfo"/>
<listEntry value="pageobjects.ProcessPL.FacetoFaceAppointment"/>
<listEntry value="pageobjects.ME.SubmitApplication"/>
<listEntry value="pageobjects.CS.PortalHome"/>
<listEntry value="pageobjects.ME.OrganizationDetails"/>
<listEntry value="pageobjects.OP.OPContractorDeclaration"/>
<listEntry value="pageobjects.ME.HealthWellbeingBoardAssessmentInfo"/>
<listEntry value="pageobjects.GenNewPatientsScreeningRecords"/>
<listEntry value="pageobjects.PL.Declaration"/>
<listEntry value="pageobjects.OP.OPSearchGOS6PVN"/>
<listEntry value="pageobjects.CS.NonResponders"/>
<listEntry value="testscripts.OP_RBACScripts"/>
<listEntry value="pageobjects.PL.ProfessionalDetails"/>
<listEntry value="testscripts.OP_GOS4ClaimScripts"/>
<listEntry value="testscripts.BS_GOS6_E2EScripts"/>
<listEntry value="pageobjects.CS.CeasePopup"/>
<listEntry value="pageobjects.ProcessPL.MangerApproval"/>
<listEntry value="pageobjects.PerformerPL.WithdrawPerformer"/>
<listEntry value="pageobjects.OP.OPGOS4PatientEligibility"/>
<listEntry value="helpers.OPHelpers"/>
<listEntry value="pageobjects.GPP.Pensions.PracticeJoiner.GPPracticeJoiner"/>
<listEntry value="browsersetup.BaseClass"/>
<listEntry value="pageobjects.OP.OPOpticalVoucherRetrieval"/>
<listEntry value="pageobjects.GPP.PMSAPMS.PMSinstructionScreen"/>
<listEntry value="pageobjects.PerformerPL.Localoffice"/>
<listEntry value="testscripts.PL_Process_PerformerScripts"/>
<listEntry value="pageobjects.OP.OPPerformerDeclaration"/>
<listEntry value="pageobjects.Adjustments.AdjustmentBatch"/>
<listEntry value="pageobjects.PerformerPL.PerformerManagement"/>
<listEntry value="pageobjects.CS.PatientsearchPortal"/>
<listEntry value="pageobjects.ME.ConstantOR"/>
<listEntry value="pageobjects.XMLParseHelpers.XMLhelpers"/>
<listEntry value="pageobjects.OP.OPGOS4SupplierDeclaration"/>
<listEntry value="pageobjects.GPP.Pensions.AVC.AVCPurchaseForm"/>
<listEntry value="reporting.ExcelReportGenerator"/>
<listEntry value="pageobjects.GPP.SC.StdClaimsPortal"/>
<listEntry value="pageobjects.OP.OPMakeAClaim"/>
<listEntry value="pageobjects.GPP.SC.StdClaimsPreApprovalWindow"/>
<listEntry value="pageobjects.PL.Appraisal"/>
<listEntry value="helpers.WindowHandleSupport"/>
<listEntry value="pageobjects.PL.DeclarationBody"/>
<listEntry value="pageobjects.CS.DeferPopup"/>
<listEntry value="pageobjects.GPP.Pensions.SalaryChange.GPSalaryChangeForm"/>
<listEntry value="testdata.ConfigurationData"/>
<listEntry value="verify.VerificationError"/>
<listEntry value="pageobjects.CS.UploadedHPVRecords"/>
<listEntry value="pageobjects.GPP.SC.SC_LocumCostClaim"/>
<listEntry value="pageobjects.PL.AdditionalInfo"/>
<listEntry value="testscripts.OP_CETClaimScripts"/>
<listEntry value="pageobjects.GPP.Pensions.Solo.SoloIncomeApproval"/>
<listEntry value="pageobjects.PerformerAppCase"/>
<listEntry value="testscripts.GMP_CreateGMPRunScripts"/>
<listEntry value="testscripts.BS_GOS5_E2EScripts"/>
<listEntry value="pageobjects.GooglePage"/>
<listEntry value="reporting.ConsolidatedReport"/>
<listEntry value="pageobjects.GPP.Pensions.PracticeJoiner.JoinerApplicationsListing"/>
<listEntry value="pageobjects.OP.OPGOS4PatientDeclaration"/>
<listEntry value="pageobjects.GPP.CI.GPPHomePage"/>
<listEntry value="pageobjects.ProcessPL.PCSECheck"/>
<listEntry value="testscripts.PMS_GOS4_E2EScripts"/>
<listEntry value="testscripts.GPP_BreakInServiceScripts"/>
<listEntry value="testscripts.CS_CohortsScripts"/>
<listEntry value="pageobjects.GPP.SC.SC_PremisesClaim"/>
<listEntry value="helpers.GPPHelpers"/>
<listEntry value="pageobjects.ProcessPL.NHSDecision"/>
<listEntry value="pageobjects.GPP.Pensions.PracticeJoiner.CommissionerAppListing"/>
<listEntry value="reporting.ListenerClass"/>
<listEntry value="pageobjects.PL.Nationality"/>
<listEntry value="utilities.ExcelUtilities"/>
<listEntry value="pageobjects.Cohortselect"/>
<listEntry value="pageobjects.ME.MEAPP"/>
<listEntry value="pageobjects.GPP.PMSinstructionScreen"/>
<listEntry value="pageobjects.ProcessPL.ThirdPartyCheck"/>
<listEntry value="pageobjects.OP.OPGOS6PatientDeclaration"/>
<listEntry value="pageobjects.ME.OpeningHours"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
